@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<TaiKhoan>
<script>
    function confirmDelete() {
        return confirm('Bạn có chắc chắn muốn xóa không?');
    }
</script>

<form method="post" asp-controller="admin" asp-action="TaiKhoan">
    <span>
        Tên tài khoản
    </span>
    <input type="text" name="Tên tài khoản" />
    <input type="submit" value="Tìm kiếm" />

    <br />

    <br />
    <table class="table table-bordered">
        <tr>
            <th style="text-align:center">Mã tài khoản</th>
            <th style="text-align:center">Tên tài khoản</th>
            <th style="text-align:center">Mật khẩu</th>


        </tr>
        @foreach (var taiKhoan in Model)
        {
            <tr>
                <td>
                   @taiKhoan.iMaTK
                </td>
                <td>
                    @taiKhoan.sTenTK
                </td>
                <td>
                    @taiKhoan.sMatkhau
                </td>
                <td>
                    <div class="container-btn" style="display:inline-block">
                        <form method="post" asp-controller="Admin" asp-action="TaiKhoan_Xoa" onsubmit="return confirmDelete();">
                            <input type="hidden" name="MaTK" value="@taiKhoan.iMaTK" />
                            <input type="submit" value="Xóa" class="border border-2 btn btn-danger" />
                        </form>
                    </div>
                    <a asp-action="TaiKhoan_Sua" asp-controller="Admin" asp-route-id="@taiKhoan.iMaTK" style="text-decoration:none; color:white;" class="border border-2 btn btn-danger">Cập nhật</a>

                </td>

            </tr>
        }
    </table>

</form>

<a href="~/Admin/TaiKhoan_ThemMoi">Thêm mới</a>
