@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@* @model List<Giay> *@

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">


<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around;
        align-items: flex-start; */
       /*  padding: 50px; */
    }

    .news-1 {
         flex: 0 1 calc(25% - 40px);  /* 25% width for each item with 20px gap between items */
         /* margin-bottom: 20px;  */
         margin: 20px; 
    }

    fieldset {
        width: 100%;
        border: none;
      /*   padding:50px; */
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }

        fieldset img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
        }

    .TenGiay {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .Gia {
        color: green;
        font-size: 16px;
        margin-bottom: 15px;
        text-decoration: line-through;
    }

    .GiaKhuyenMai {
        color: red; /* Màu sắc cho giá khuyến mãi */
        font-size: 16px; /* Kích thước chữ cho giá khuyến mãi */
        margin-bottom: 10px; /* Khoảng cách giữa giá khuyến mãi và nút mua */
    }

    .button, .button-buy, .button-add-cart {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 10px;
        margin-bottom: 5px;
    }

        .button:hover, .button-buy:hover, .button-add-cart:hover {
            background-color: #0056b3;
        }

    .button-buy {
        background-color: #28a745;
    }

    .button-add-cart {
        background-color: #ffc107;
    }

    .TimKiem{
        padding: 50px;
        text-align:center;
    }
</style>

<div class="TimKiem">
    <span>Tên giày: </span>
    <input type="text" placeholder="Nhập tên giày"/>
    <input  type="submit" value="Tìm"/>
</div>


<p style="text-align:center; font-size:25px;font-family:'Times New Roman', Times, serif;margin-top:20px">Nam</p>

<div class="container">
    @foreach (var giay in ViewBag.GiayNam)
    {
        <div class="news-1">
            <fieldset>
                <img src="@Url.Content(giay.sImageUrl)" alt="Ảnh giày">
                <p class="TenGiay">@giay.sTenGiay</p>
                <p class="Gia">Giá: @giay.iGia VNĐ</p>
                <p class="GiaKhuyenMai">Giá khuyến mãi: @giay.iGiaKM VNĐ</p>
                @*  <button class="button" onclick="window.location.href='Chitiettintuc.aspx?ID=1'">Xem Thêm</button> *@
                <button class="button-buy">Mua Ngay</button>
                @* <button class="button-add-cart">Thêm vào Giỏ Hàng</button> *@
                <button class="button-add-cart"><i class="bi bi-cart-plus"></i></button>
            </fieldset>
        </div>

    }
</div>

<hr />

<p style="text-align:center; font-size:25px;font-family:'Times New Roman', Times, serif;margin-top:20px">Nữ</p>

<div class="container">
    @foreach (var giay in ViewBag.GiayNu)
    {
        <div class="news-1">
            <fieldset>
                <img src="@Url.Content(giay.sImageUrl)" alt="Ảnh giày">
                <p class="TenGiay">@giay.sTenGiay</p>
                <p class="Gia">Giá: @giay.iGia VNĐ</p>
                <p class="GiaKhuyenMai">Giá khuyến mãi: @giay.iGiaKM VNĐ</p>
                @*  <button class="button" onclick="window.location.href='Chitiettintuc.aspx?ID=1'">Xem Thêm</button> *@
                <button class="button-buy">Mua Ngay</button>
                @* <button class="button-add-cart">Thêm vào Giỏ Hàng</button> *@
                <button class="button-add-cart"><i class="bi bi-cart-plus"></i></button>
            </fieldset>
        </div>

    }
</div>